<div class="tweet_list">
  <div><p><b><%= tweet.user.nickname %></b></p><p class="creation_time"><%= l tweet.created_at %></p></div>
  <p><%= tweet.text %></p>
  <% tweet.tags.each do |tag| %>
    <%= link_to tag_path(tag.id), class: "tag_link" do %>
      <p class="tag">#<%= tag.name %></p>
    <% end %>
  <% end %>
  <%= image_tag tweet.image.variant(resize: "400x400") if tweet.image.attached? %>
</div>