<% unless user_signed_in? %>
  <p class="landing_title"><span>"Keep it up!"&nbsp;その調子で頑張って！<br></span>と頑張るあなたの背中を押すアプリ</p>
  <p style="text-align: center; margin: 2em 0 1em;"><span class="langing_text">こんな悩みはありませんか？</span></p>
  <div class="landing">
    <div>
      <%= image_tag "frustration.png" %>
      <p>勉強が難しくて挫折しそう</p>
    </div>
    <div>
      <%= image_tag "muscle_training.png" %>
      <p>効率を良くトレーニングしたい</p>
    </div>
    <div>
      <%= image_tag "dietary_restrictions.png" %>
      <p>ダイエット・食事制限がツライ</p>
    </div>
  </div>
  <p style="text-align: center; margin: 2em 0 1em;"><span class="langing_text">Keep It Appを使えば...</span></p>
  <div class="landing">
    <div>
      <%= image_tag "sample_image1.png" %>
      <p>みんなの努力を自分の励みに</p>
    </div>
    <div>
      <%= image_tag "sample_image2.png" %>
      <p>成果が出ている人に聞ける</p>
    </div>
    <div>
      <%= image_tag "sample_image3.png" %>
      <p>Keep it up!をもらってやる気に</p>
    </div>
  </div>
<% end %>
<div class="tweet_lists">
  <h2>ホーム</h2>
  <% @tweets.each do |tweet| %>
    <%= render partial: "tweet", locals: { tweet: tweet } %>
  <% end %>
</div>