<div class="tweet_lists">
  <%= link_to root_path do %><h2>一覧へ戻る</h2><% end %>
  <div class="tweet_list">
    <div><p><b><%= @tweet.user.nickname %></b></p><p class="creation_time"><%= l @tweet.created_at, format: :short %></p></div>
    <p><%= @tweet.text %></p>
    <% @tweet.tags.each do |tag| %>
      <p class="tag">#<%= tag.name %></p>
    <% end %>
    <%= image_tag @tweet.image.variant(resize: "400x400") if @tweet.image.attached? %>
  </div>
  <div class="icons">
    <div class="keep_it_up_button">
      <% if @keep_it_ups.present? %>
        <%= @keep_it_ups.count %>
      <% end %>
      <% if user_signed_in? %>
        <% if @keep_it_ups.find_by(user_id: current_user.id).blank? %>
          <%= link_to tweet_keep_it_ups_path(@tweet), method: :post do %>
            <%= image_tag "logo_gray.png" %>
          <% end %>
        <% else %>
          <%= link_to tweet_keep_it_up_path(@tweet, @keep_it_ups), method: :delete do %>
            <%= image_tag "fist_orange.png" %>
          <% end %>
        <% end %>
      <% else %>
        <%= image_tag "logo_gray.png", style: "margin: 0.5em 0.5em 0.5em 0;" %>
      <% end %>
    </div>
    <% if user_signed_in? && current_user.id == @tweet.user.id %>
      <%= link_to edit_tweet_path(@tweet.id) do %>
        <%= image_tag "tweet_gray.png", title: "編集" %>
      <% end %>
      <%= link_to tweet_path(@tweet.id), method: :delete do %>
        <%= image_tag "garbage_can_gray.png", title: "削除" %>
      <% end %>
    <% end %>
  </div>
  <div class="comment_area">
    <h3>コメント</h3>
    <%= form_with model: [@tweet, @comment], class: "comment_form", local: true do |f| %>
      <p><%= alert %></p>
      <%= f.text_area :message, placeholder: "255文字まで" %>
      <%= f.submit "コメントする" %>
    <% end %>
    <div class="comment_lists">
      <% @comments.each do |comment| %>
        <%= render partial: "comments/comment", locals: { comment: comment } %>
      <% end %>
    </div>
  </div>
</div>