<div class="tweet_lists">
  <div class="tweet_list">
    <p><b><%= @tweet.user.nickname %></b></p>
    <p><%= @tweet.text %></p>
    <%= image_tag @tweet.image.variant(resize: "400x400") if @tweet.image.attached? %>
  </div>
  <div class="icons">
      <%= image_tag "logo_gray.png" %>
    <%= link_to edit_tweet_path(@tweet.id) do %>
      <%= image_tag "tweet_gray.png", title: "編集" %>
    <% end %>
    <%= link_to tweet_path(@tweet.id), method: :delete do %>
      <%= image_tag "garbage_can_gray.png", title: "削除" %>
    <% end %>
  </div>
  <div class="comment_box">
  </div>
</div>