<!DOCTYPE html>
<html>
  <head>
    <title>Keep It App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>
        <%= link_to root_path do %>
          <div>
            <%= image_tag "logo_white.png" %>
            Keep It App
          </div>
        <% end %>
      </h1>
      <div class="user">
        <% if user_signed_in? %>
          <ul>
            <li><%= current_user.nickname %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          </ul>
        <% else %>
          <ul>
            <li><%= link_to "ログイン", new_user_session_path %></li>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
          </ul>
        <% end %>
    </header>
    <%= yield %>
    <footer>©︎ Keep It App 2020</footer>
  </body>
</html>
